.service {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.service img {
    border-radius: 5px;
}

.text-justify {
    text-align: justify;
    padding: 10px;
}